

/* bookTable CSS */

.bookTable {
  width: 100%;
  table-layout: fixed;
  margin-top: 20px;
  border: 2px solid rgb(180, 190, 190);
  border-collapse: collapse;
  font-size: 14px;
  background: #fff;
}

.bookTable thead th {
  background: rgb(200, 215, 215);
  text-align: left;
  padding: 14px;
  border-bottom: 2px solid rgb(180, 190, 190);
  font-weight: bold;
}

.bookTable tbody td {
  padding: 14px 14px;
  border-bottom: 1px solid #eee;
}

.bookTable tbody tr:nth-child(even) {
  background: #fafafa;
}

.bookTable tbody tr:hover {
  background: #eaeffc;
  transition: background 0.2s ease;
}

/* bookButtons CSS */

.bookButtons {
  padding: 12px;
  background: rgb(150, 180, 180);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 16px;
  text-decoration: none;
}

.bookButtons:hover {
  background: rgb(120, 150, 150);
  color: white;
}


/* loadingBar CSS */

.loadingBar {
  width: 200px;
  height: 40px;
  margin-left: 20px;
  background: rgb(150, 180, 180);
  color: white;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  align-content: center;

}