header {
  width: 100%; 
  padding: 30px 0px 30px 0px;
  margin-bottom: 20px;
  background: rgb(150, 180, 180);
  color: white;
  font-size: 30px;
  filter: drop-shadow(2px 2px 4px #707070);
}

header p {
  display: flex;
  align-items: center;
}

p {
  margin: 0px 30px 0px 30px;
  text-shadow: 0px 1px 0px black;
}

.login {
  color: white;
  background: rgb(160, 190, 190);
  margin: 0px 0px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration-line: none;
  margin-left: auto; /* pushes Login to the right */
}

.login:hover { 
  border-color: rgb(145, 175, 175);
  color: rgb(130, 165, 175);
  background: #ffffff;
  transition: background 0.2s ease;
}

.link {
  color: white;
  background: rgb(160, 190, 190);
  margin:  0px 0px 0px 30px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration-line: none;
}

.link:hover { 
  border-color: rgb(145, 175, 175);
  color: rgb(130, 165, 175);
  background: #ffffff;
  transition: background 0.2s ease;
}

