.navButton {
  padding: 12px;
  background: rgb(0, 90, 170, 1);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: background 0.2s;
  margin: 8px;
  text-decoration: none;
  text-align: center;
}

.signupButton {
  padding: 10px;
  background: rgb(0, 90, 170, 1);
  margin-top: 12px;
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}


.navButton:hover,
.signupButton:hover,
.addButton:hover,
.selectionButton:hover {
  background: rgb(0, 90, 170, 0.75);
  color: white;
}


.loginButton {
  color: white;
  background: rgb(0, 90, 170, 1);
  margin: 0px 0px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration-line: none;
  margin-left: auto; /* pushes Login to the right */
}

.loginButton:hover { 
  border-color: rgb(0, 90, 170, 1);
  color: rgb(0, 90, 170, 1);
  background: white;
  transition: background 0.2s ease;
}

.navBarButton {
  color: white;
  background: rgb(0, 90, 170, 1);
  margin:  0px 0px 0px 30px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration-line: none;
}

.navBarButton:hover { 
  border-color: rgb(0, 90, 170, 1);
  color: rgb(0, 90, 170, 1);
  background: #ffffff;
  transition: background 0.2s ease;
}

.sortButton {
  padding: none;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.selectionButton {
  display: inline-flex;
  align-items: center;
  padding: 7px;
  margin: 3px;
  background: rgb(0, 90, 170, 1);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.addButton {
  display: inline-flex;
  padding: 9px;
  background: rgb(0, 90, 170, 1);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;

  cursor: pointer;
  transition: background 0.2s;
}