/* simplified form styles (unfinished) */

form {
  width: 300px;
  margin: 20px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  background: rgb(210, 225, 225);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  font-family: sans-serif;
}

.searchForm {
  width: 50%;
  padding: 15px;
  margin: 20px;
  flex-direction: row;
}


form label {
  font-size: 15px;
  font-weight: 550;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="search"],
form select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

form input[type="password"]:focus,
form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="search"]:focus,
form select:focus {
  border-color: rgb(150, 180, 180);
  box-shadow: 0 0 4px rgb(150, 160, 160);
}

form input[type="submit"] {
  padding: 10px;
  background: rgb(150, 180, 180);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

form input[type="submit"]:hover {
  background: rgb(120, 150, 150);
}
