/* navbar CSS */

.navbar {
  width: 100%; 
  padding: 30px 0px 30px 0px;
  margin-bottom: 10px;
  background: rgb(0, 90, 170);
  color: white;
  font-size: 30px;
  filter: drop-shadow(2px 2px 4px #7070707a);
}

.navbar p {
  display: flex;
  align-items: center;
  margin: 0px 30px 0px 30px;
  text-shadow: 0px 1px 0px black;
}

.footer {
  width: 100%;
  padding: 8px;
  background: rgb(0, 90, 170);
  color: white;
  font-size: 15px;
}

