.structuredInfo {
    margin: 5px;
    padding: 12px;
    background-color: rgba(0, 90, 170, 0.1);
    border-radius: 5px;
    border: 1px solid rgb(0, 90, 170, 0.2)
}

.structuredError {
    margin: 5px;
    padding: 12px;
    background-color: rgba(170, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(170, 0, 0, 0.2)
}